---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import WorkPreview from "../components/WorkPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const projects = (await getCollection("work")).sort(
	(a, b) => b.data.sortValue.valueOf() - a.data.sortValue.valueOf(),
);
---

<BaseLayout
	title="Work History | Levi Hancock"
	description="Past Experience"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Work History"
				tagline=""
				align="start"
			/>
			<Grid variant="list">
				{
					projects.map((project) => (
						<li>
							<WorkPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
