---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import ProjectsPreview from "../components/ProjectsPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const projects = (await getCollection("projects"));
---

<BaseLayout
	title="Projects | Levi Hancock"
	description="Here are some projects Levi has worked on."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Projects"
				tagline="Each project is a learning experience."
				align="start"
			/>
			<Grid variant="list">
				{
					projects.map((project) => (
						<li>
							<ProjectsPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
